altgraph==0.16.1
boto3==1.9.129
botocore==1.12.129
certifi==2018.11.29
chardet==3.0.4
Click==7.0
docutils==0.14
fbs==0.7.3
future==0.17.1
idna==2.8
jmespath==0.9.4
macholib==1.11
pefile==2018.8.8
PyInstaller==3.4
PyQt5==5.12.1
PyQt5-sip==4.19.15
PyQt5-stubs==5.12.1.0
python-dateutil==2.8.0
python-dotenv==0.10.1
requests==2.21.0
requests-cache==0.4.13
s3transfer==0.2.0
six==1.12.0
tmdbv3api==1.3.2
urllib3==1.24.1
